<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssafy.banking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Component_1">
        <activity android:name=".Banking4Result" android:label="이체결과" />
        <activity android:name=".Banking3Transfer" android:label="계좌이체"/>

        <activity android:name=".Banking2Account" android:label="계좌조회"/>
<!--        <activity android:name=".Banking2Account" android:label="계좌조회" android:launchMode="singleTop"/>-->
<!--        <activity android:name=".Banking2Account" android:label="계좌조회" android:launchMode="singleTask"/>-->
<!--        <activity android:name=".Banking2Account" android:label="계좌조회" android:launchMode="singleInstance"/>-->

        <activity android:name=".Banking1Main" android:label="뱅킹메인"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>