<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    android:theme="@style/Theme.M2StyleThemeColor"-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleTheme"
        tools:targetApi="31">

        <activity  android:name=".MainActivity"/>

        <activity android:name="com.ssafy.style.StartActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ssafy.style.HeaderActivity" />
        <activity android:name="com.ssafy.style.ExtendedActivity" />
        <activity android:name="com.ssafy.style.Extended2Activity" />

        <!-- activity의 theme을 변경한다. -->
        <activity android:name="com.ssafy.style.ThemeActivity"/>
<!--        <activity android:name="com.ssafy.style.ThemeActivity" android:theme="@style/MyTextViewTheme"/>-->

        <activity android:name="com.ssafy.style.CustomThemeActivity" android:theme="@style/CustomTheme"/>
        <activity android:name="com.ssafy.style.CustomAttrActivity" android:theme="@style/CustomAttrTheme"/>
    </application>

</manifest>