<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- notification 전송 permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Component_3">
        <service
            android:name=".ForegroundMusicService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback"/>

        <activity android:name=".ForegroundActivity" />


        <service
            android:name=".MyMusicService"
            android:enabled="true" />

        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".StartActivity"  android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SimpleNotification" />
        <activity android:name=".PictureNotification" />
    </application>

</manifest>